In [3]:
#get working directory
import warnings
warnings.filterwarnings('ignore')
import pandas as pd
import os
os.getcwd()

'C:\\Users\\Zain Ul Abideen\\Dropbox\\Code4Pol'

In [4]:
airport_lookupDF = pd.read_csv('https://s3.amazonaws.com/jsw.dsprojects/AirlinePredictions/Airport_Lookup.csv', 
                                header = 0) # Airport codes

In [5]:
airport_lookupDF.head()

    Code                                    Description
0  10001         Afognak Lake, AK: Afognak Lake Airport
1  10003  Granite Mountain, AK: Bear Creek Mining Strip
2  10004                       Lik, AK: Lik Mining Camp
3  10005         Little Squaw, AK: Little Squaw Airport
4  10006                     Kizhuyak, AK: Kizhuyak Bay

In [6]:
airport_lookupDF[airport_lookupDF['Description'].str.contains("Boston")]

       Code                                 Description
693   10721             Boston, MA: Logan International
2357  12452            Boston, MA: Boston City Heliport
3161  13296  Manchester, NH: Manchester-Boston Regional
4214  14414          Boston, MA: Nashua Street Heliport
4482  14702            South Boston, VA: William M Tuck

In [7]:
trainDF = pd.read_csv('FinalFlightsNumeric.csv', header = 0)
print (trainDF.shape)
trainDF

(3752717, 31)

,Unnamed: 0,DATE,YEAR,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,UNIQUE_CARRIER,TAIL_NUM,ORIGIN_AIRPORT_ID,DEST_AIRPORT_ID,...,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,HDAYS,ARR_HOUR,DEP_HOUR,CARRIER_NAME,ORIGIN_AIRPORT,DESTINATION_AIRPORT,CARRIER_CODE
0,1,2017-01-01,2017,1,1,7,AA,N3CGAA,11292,14107,...,NaN,NaN,NaN,1,13,11,American Airlines Inc.,"Denver, CO: Denver International","Phoenix, AZ: Phoenix Sky Harbor International",1
1,2,2017-01-01,2017,1,1,7,AA,N3CGAA,14107,14057,...,NaN,NaN,NaN,1,17,15,American Airlines Inc.,"Phoenix, AZ: Phoenix Sky Harbor International","Portland, OR: Portland International",1
2,3,2017-01-01,2017,1,1,7,AA,N3EVAA,11278,13303,...,NaN,NaN,NaN,1,9,6,American Airlines Inc.,"Washington, DC: Ronald Reagan Washington National","Miami, FL: Miami International",1
3,4,2017-01-01,2017,1,1,7,AA,N3NAAA,13303,12953,...,NaN,NaN,NaN,1,17,14,American Airlines Inc.,"Miami, FL: Miami International","New York, NY: LaGuardia",1
4,5,2017-01-01,2017,1,1,7,AA,N3FCAA,14107,11292,...,12.0,0.0,16.0,1,0,22,American Airlines Inc.,"Phoenix, AZ: Phoenix Sky Harbor International","Denver, CO: Denver International",1
5,6,2017-01-01,2017,1,1,7,AA,N3LMAA,14747,14107,...,NaN,NaN,NaN,1,21,17,American Airlines Inc.,"Seattle, WA: Seattle/Tacoma International","Phoenix, AZ: Phoenix Sky Harbor International",1
6,7,2017-01-01,2017,1,1,7,AA,N3DVAA,13930,13487,...,1.0,0.0,0.0,1,15,13,American Airlines Inc.,"Chicago, IL: Chicago O'Hare International","Minneapolis, MN: Minneapolis-St Paul Internati...",1
7,8,2017-01-01,2017,1,1,7,AA,N3KCAA,13303,10821,...,NaN,NaN,NaN,1,23,20,American Airlines Inc.,"Miami, FL: Miami International","Baltimore, MD: Baltimore/Washington Internatio...",1
8,9,2017-01-01,2017,1,1,7,AA,N3DHAA,13303,13930,...,NaN,NaN,NaN,1,23,21,American Airlines Inc.,"Miami, FL: Miami International","Chicago, IL: Chicago O'Hare International",1
9,10,2017-01-01,2017,1,1,7,AA,N4XKAA,11298,14683,...,0.0,0.0,19.0,1,13,12,American Airlines Inc.,"Dallas/Fort Worth, TX: Dallas/Fort Worth Inter...","San Antonio, TX: San Antonio International",1
10,11,2017-01-01,2017,1,1,7,AA,N4XKAA,14683,11298,...,NaN,NaN,NaN,1,15,14,American Airlines Inc.,"San Antonio, TX: San Antonio International","Dallas/Fort Worth, TX: Dallas/Fort Worth Inter...",1
11,12,2017-01-01,2017,1,1,7,AA,N3DTAA,14107,14057,...,1.0,0.0,12.0,1,12,11,American Airlines Inc.,"Phoenix, AZ: Phoenix Sky Harbor International","Portland, OR: Portland International",1
12,13,2017-01-01,2017,1,1,7,AA,N3DTAA,14908,14107,...,NaN,NaN,NaN,1,10,7,American Airlines Inc.,"Santa Ana, CA: John Wayne Airport-Orange County","Phoenix, AZ: Phoenix Sky Harbor International",1
13,14,2017-01-01,2017,1,1,7,AA,N4YCAA,11298,14683,...,NaN,NaN,NaN,1,11,10,American Airlines Inc.,"Dallas/Fort Worth, TX: Dallas/Fort Worth Inter...","San Antonio, TX: San Antonio International",1
14,15,2017-01-01,2017,1,1,7,AA,N4YCAA,14683,11298,...,NaN,NaN,NaN,1,13,12,American Airlines Inc.,"San Antonio, TX: San Antonio International","Dallas/Fort Worth, TX: Dallas/Fort Worth Inter...",1
15,16,2017-01-01,2017,1,1,7,AA,N3EEAA,11057,11618,...,NaN,NaN,NaN,1,15,13,American Airlines Inc.,"Charlotte, NC: Charlotte Douglas International","Newark, NJ: Newark Liberty International",1
16,17,2017-01-01,2017,1,1,7,AA,N3EEAA,11618,14107,...,NaN,NaN,NaN,1,20,16,American Airlines Inc.,"Newark, NJ: Newark Liberty International","Phoenix, AZ: Phoenix Sky Harbor International",1
17,18,2017-01-01,2017,1,1,7,AA,N3EEAA,14107,14057,...,4.0,0.0,0.0,1,23,21,American Airlines Inc.,"Phoenix, AZ: Phoenix Sky Harbor International","Portland, OR: Portland International",1
18,19,2017-01-01,2017,1,1,7,AA,N3CGAA,15016,11298,...,NaN,NaN,NaN,1,8,6,American Airlines Inc.,"St. Louis, MO: St Louis Lambert International","Dallas/Fort Worth, TX: Dallas/Fort Worth Inter...",1
19,20,2017-01-01,2017,1,1,7,AA,N3KHAA,15016,11298,...,NaN,NaN,NaN,1,11,9,American Airlines Inc.,"St. Louis, MO: St Louis Lambert International","Dallas/Fort Worth, TX: Dallas/Fort Worth Inter...",1
20,21,2017-01-01,2017,1,1,7,AA,N3GVAA,11278,13303,...,NaN,NaN,NaN,1,17,14,American Airlines Inc.,"Washington, DC: Ronald Reagan Washington National","Miami, FL: Miami International",1
21,22,2017-01-01,2017,1,1,7,AA,N3LRAA,12953,13930,...,NaN,NaN,NaN,1,10,9,American Airlines Inc.,"New York, NY: LaGuardia","Chicago, IL: Chicago O'Hare International",1
22,23,2017-01-01,2017,1,1,7,AA,N4XBAA,11298,15016,...,NaN,NaN,NaN,1,12,10,American Airlines Inc.,"Dallas/Fort Worth, TX: Dallas/Fort Worth Inter...","St. Louis, MO: St Louis Lambert International",1
23,24,2017-01-01,2017,1,1,7,AA,N3CEAA,11278,11298,...,NaN,NaN,NaN,1,19,16,American Airlines Inc.,"Washington, DC: Ronald Reagan Washington National","Dallas/Fort Worth, TX: Dallas/Fort Worth Inter...",1
24,25,2017-01-01,2017,1,1,7,AA,N3CEAA,13930,11278,...,NaN,NaN,NaN,1,14,11,American Airlines Inc.,"Chicago, IL: Chicago O'Hare International","Washington, DC: Ronald Reagan Washington National",1
25,26,2017-01-01,2017,1,1,7,AA,N3FYAA,12953,13930,...,NaN,NaN,NaN,1,12,10,American Airlines Inc.,"New York, NY: LaGuardia","Chicago, IL: Chicago O'Hare International",1
26,27,2017-01-01,2017,1,1,7,AA,N3NWAA,12953,13930,...,NaN,NaN,NaN,1,15,14,American Airlines Inc.,"New York, NY: LaGuardia","Chicago, IL: Chicago O'Hare International",1
27,28,2017-01-01,2017,1,1,7,AA,N3KRAA,10721,12892,...,34.0,0.0,0.0,1,16,12,American Airlines Inc.,"Boston, MA: Logan International","Los Angeles, CA: Los Angeles International",1
28,29,2017-01-01,2017,1,1,7,AA,N397AA,13303,13930,...,NaN,NaN,NaN,1,10,8,American Airlines Inc.,"Miami, FL: Miami International","Chicago, IL: Chicago O'Hare International",1
29,30,2017-01-01,2017,1,1,7,AA,N397AA,13930,13303,...,NaN,NaN,NaN,1,15,11,American Airlines Inc.,"Chicago, IL: Chicago O'Hare International","Miami, FL: Miami International",1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3752687,3752688,2017-10-31,2017,10,31,2,EV,N14558,12339,12266,...,15.0,0.0,0.0,10,17,15,ExpressJet Airlines Inc.,"Indianapolis, IN: Indianapolis International","Houston, TX: George Bush Intercontinental/Houston",5
3752688,3752689,2017-10-31,2017,10,31,2,EV,N14180,11278,11618,...,NaN,NaN,NaN,10,21,20,ExpressJet Airlines Inc.,"Washington, DC: Ronald Reagan Washington National","Newark, NJ: Newark Liberty International",5
3752689,3752690,2017-10-31,2017,10,31,2,EV,N15574,15016,11618,...,NaN,NaN,NaN,10,9,6,ExpressJet Airlines Inc.,"St. Louis, MO: St Louis Lambert International","Newark, NJ: Newark Liberty International",5
3752690,3752691,2017-10-31,2017,10,31,2,EV,N14902,11618,10821,...,NaN,NaN,NaN,10,15,13,ExpressJet Airlines Inc.,"Newark, NJ: Newark Liberty International","Baltimore, MD: Baltimore/Washington Internatio...",5
3752691,3752692,2017-10-31,2017,10,31,2,EV,N14558,13930,12339,...,NaN,NaN,NaN,10,14,12,ExpressJet Airlines Inc.,"Chicago, IL: Chicago O'Hare International","Indianapolis, IN: Indianapolis International",5
3752692,3752693,2017-10-31,2017,10,31,2,EV,N14568,12266,15016,...,NaN,NaN,NaN,10,10,8,ExpressJet Airlines Inc.,"Houston, TX: George Bush Intercontinental/Houston","St. Louis, MO: St Louis Lambert International",5
3752693,3752694,2017-10-31,2017,10,31,2,EV,N14902,10821,11618,...,NaN,NaN,NaN,10,17,15,ExpressJet Airlines Inc.,"Baltimore, MD: Baltimore/Washington Internatio...","Newark, NJ: Newark Liberty International",5
3752694,3752695,2017-10-31,2017,10,31,2,EV,N21537,11278,11618,...,NaN,NaN,NaN,10,16,14,ExpressJet Airlines Inc.,"Washington, DC: Ronald Reagan Washington National","Newark, NJ: Newark Liberty International",5
3752695,3752696,2017-10-31,2017,10,31,2,EV,N17115,11618,11278,...,NaN,NaN,NaN,10,7,6,ExpressJet Airlines Inc.,"Newark, NJ: Newark Liberty International","Washington, DC: Ronald Reagan Washington National",5
3752696,3752697,2017-10-31,2017,10,31,2,EV,N15980,10693,13930,...,NaN,NaN,NaN,10,12,10,ExpressJet Airlines Inc.,"Nashville, TN: Nashville International","Chicago, IL: Chicago O'Hare International",5
3752697,3752698,2017-10-31,2017,10,31,2,EV,N761ND,12953,15016,...,NaN,NaN,NaN,10,20,18,ExpressJet Airlines Inc.,"New York, NY: LaGuardia","St. Louis, MO: St Louis Lambert International",5
3752698,3752699,2017-10-31,2017,10,31,2,EV,N391CA,12953,10693,...,NaN,NaN,NaN,10,15,13,ExpressJet Airlines Inc.,"New York, NY: LaGuardia","Nashville, TN: Nashville International",5
3752699,3752700,2017-10-31,2017,10,31,2,EV,N720EV,12953,11042,...,NaN,NaN,NaN,10,13,11,ExpressJet Airlines Inc.,"New York, NY: LaGuardia","Cleveland, OH: Cleveland-Hopkins International",5
3752700,3752701,2017-10-31,2017,10,31,2,EV,N391CA,10693,12953,...,NaN,NaN,NaN,10,19,16,ExpressJet Airlines Inc.,"Nashville, TN: Nashville International","New York, NY: LaGuardia",5
3752701,3752702,2017-10-31,2017,10,31,2,EV,N712EV,15016,12953,...,NaN,NaN,NaN,10,20,16,ExpressJet Airlines Inc.,"St. Louis, MO: St Louis Lambert International","New York, NY: LaGuardia",5
3752702,3752703,2017-10-31,2017,10,31,2,EV,N719EV,14122,12953,...,NaN,NaN,NaN,10,13,11,ExpressJet Airlines Inc.,"Pittsburgh, PA: Pittsburgh International","New York, NY: LaGuardia",5
3752703,3752704,2017-10-31,2017,10,31,2,EV,N136EV,12266,11433,...,NaN,NaN,NaN,10,11,7,ExpressJet Airlines Inc.,"Houston, TX: George Bush Intercontinental/Houston","Detroit, MI: Detroit Metro Wayne County",5
3752704,3752705,2017-10-31,2017,10,31,2,EV,N710EV,12953,15016,...,NaN,NaN,NaN,10,9,8,ExpressJet Airlines Inc.,"New York, NY: LaGuardia","St. Louis, MO: St Louis Lambert International",5
3752705,3752706,2017-10-31,2017,10,31,2,EV,N738EV,12953,14492,...,NaN,NaN,NaN,10,18,16,ExpressJet Airlines Inc.,"New York, NY: LaGuardia","Raleigh/Durham, NC: Raleigh-Durham International",5
3752706,3752707,2017-10-31,2017,10,31,2,EV,N708EV,12953,11042,...,0.0,0.0,0.0,10,18,17,ExpressJet Airlines Inc.,"New York, NY: LaGuardia","Cleveland, OH: Cleveland-Hopkins International",5
3752707,3752708,2017-10-31,2017,10,31,2,EV,N738EV,11042,12953,...,NaN,NaN,NaN,10,10,8,ExpressJet Airlines Inc.,"Cleveland, OH: Cleveland-Hopkins International","New York, NY: LaGuardia",5
3752708,3752709,2017-10-31,2017,10,31,2,EV,N391CA,11042,14492,...,NaN,NaN,NaN,10,9,7,ExpressJet Airlines Inc.,"Cleveland, OH: Cleveland-Hopkins International","Raleigh/Durham, NC: Raleigh-Durham International",5
3752709,3752710,2017-10-31,2017,10,31,2,EV,N391CA,14492,12953,...,NaN,NaN,NaN,10,12,10,ExpressJet Airlines Inc.,"Raleigh/Durham, NC: Raleigh-Durham International","New York, NY: LaGuardia",5
3752710,3752711,2017-10-31,2017,10,31,2,EV,N754EV,11042,12953,...,NaN,NaN,NaN,10,8,6,ExpressJet Airlines Inc.,"Cleveland, OH: Cleveland-Hopkins International","New York, NY: LaGuardia",5
3752711,3752712,2017-10-31,2017,10,31,2,EV,N722EV,12953,11057,...,NaN,NaN,NaN,10,11,9,ExpressJet Airlines Inc.,"New York, NY: LaGuardia","Charlotte, NC: Charlotte Douglas International",5
3752712,3752713,2017-10-31,2017,10,31,2,EV,N719EV,11057,12953,...,NaN,NaN,NaN,10,9,7,ExpressJet Airlines Inc.,"Charlotte, NC: Charlotte Douglas International","New York, NY: LaGuardia",5
3752713,3752714,2017-10-31,2017,10,31,2,EV,N720EV,12953,14122,...,NaN,NaN,NaN,10,8,7,ExpressJet Airlines Inc.,"New York, NY: LaGuardia","Pittsburgh, PA: Pittsburgh International",5
3752714,3752715,2017-10-31,2017,10,31,2,EV,N719EV,12953,14122,...,NaN,NaN,NaN,10,11,9,ExpressJet Airlines Inc.,"New York, NY: LaGuardia","Pittsburgh, PA: Pittsburgh International",5
3752715,3752716,2017-10-31,2017,10,31,2,EV,N741EV,11057,12953,...,NaN,NaN,NaN,10,11,9,ExpressJet Airlines Inc.,"Charlotte, NC: Charlotte Douglas International","New York, NY: LaGuardia",5
3752716,3752717,2017-10-31,2017,10,31,2,EV,N720EV,14122,12953,...,NaN,NaN,NaN,10,10,9,ExpressJet Airlines Inc.,"Pittsburgh, PA: Pittsburgh International","New York, NY: LaGuardia",5

In [8]:
trainDF = trainDF[trainDF['DEP_DELAY'].notnull()]
trainDF.shape

(3699336, 31)

In [9]:
#drop the unnamed column
trainDF.drop(trainDF.columns[0], axis = 1, inplace = True)

In [10]:
trainDF.shape

(3699336, 30)

In [11]:
#keep data for the flights originating from boston

trainDF = trainDF.loc[trainDF['ORIGIN_AIRPORT_ID'] == 10721]

In [12]:
trainDF.shape

(114343, 30)

In [13]:
airport_lookupDF[airport_lookupDF['Description'].str.contains("New York")]
#Use 12478 for NY

       Code                                        Description
1636  11703                             New York, NY: Flushing
2381  12478        New York, NY: John F. Kennedy International
2439  12541             New York, NY: Pan Am Building Heliport
2443  12545            New York, NY: West 30th Street Heliport
2444  12546  New York, NY: Downtown Manhattan/Wall Street H...
2446  12548            New York, NY: East 60th Street Heliport
2824  12953                            New York, NY: LaGuardia
3632  13784      New York, NY: New York City Metropolitan Area
5109  15346            New York, NY: East 34th Street Heliport
5581  15859          New York, NY: World Trade Center Heliport

In [14]:
airport_lookupDF[airport_lookupDF['Description'].str.contains("Chicago")]
#Use 13930 for Chicago

       Code                                   Description
942   10977                      Chicago, IL: Meigs Field
951   10986        Chicago, IL: Chicago Metropolitan Area
1321  11376                   Chicago, IL: Du Page County
1974  12055          Gary, IN: Gary/Chicago International
2215  12306      Chicago/Romeoville, IL: Lewis University
3098  13232     Chicago, IL: Chicago Midway International
3770  13930     Chicago, IL: Chicago O'Hare International
4151  14320                Chicago, IL: Chicago Executive
4295  14512  Rockford, IL: Chicago/Rockford International

In [15]:
airport_lookupDF[airport_lookupDF['Description'].str.contains("Dulles")]
#Use 12264 for DC

       Code                                      Description
2175  12264  Washington, DC: Washington Dulles International

In [16]:
airport_lookupDF[airport_lookupDF['Description'].str.contains("San Francisco")]
#Use 14771 for SF

       Code                                     Description
2362  12457         San Francisco, CA: China Basin Heliport
2415  12515        San Francisco, CA: Marin County Heliport
4549  14771  San Francisco, CA: San Francisco International

In [17]:
airport_lookupDF[airport_lookupDF['Description'].str.contains("Houston")]
#Use 12266 for Houston

       Code                                        Description
1394  11453            Houston, TX: David Wayne Hooks Memorial
1434  11495                             Houston, TX: Ellington
2106  12191                       Houston, TX: William P Hobby
2177  12266  Houston, TX: George Bush Intercontinental/Houston
2321  12415                          Houston, TX: West Houston
2375  12470  Houston, TX: Houston Central Business District...
2388  12486               Houston, TX: Greenway Plaza Heliport
2389  12487       Houston, TX: Transco Tower Galleria Heliport
2413  12513                             Houston, TX: Astrodome
2441  12543                      Houston, TX: Park Ten Helipad
2466  12573                    Houston, TX: Westchase Heliport
4177  14348                   Houston, TX: Astrodomain Helipad
4199  14388                    Houston, TX: Astroworld Helipad
4200  14391                     Houston, TX: Houston Metro-/Ho
4205  14399                  Houston, TX: Marriot Helipad Hou.
4210  14409                        Houston, TX: Post Oak Manor

In [18]:
#Keep data for Houston, NY, Chicago, SF, DC

In [19]:
trainDF = trainDF[(trainDF['DEST_AIRPORT_ID'] == 12478) | (trainDF['DEST_AIRPORT_ID'] == 13930) | 
                  (trainDF['DEST_AIRPORT_ID'] == 12264) | (trainDF['DEST_AIRPORT_ID'] == 14771) | 
                  (trainDF['DEST_AIRPORT_ID'] == 12266)]

In [20]:
trainDF.shape
trainDF.dtypes

DATE                    object
YEAR                     int64
MONTH                    int64
DAY_OF_MONTH             int64
DAY_OF_WEEK              int64
UNIQUE_CARRIER          object
TAIL_NUM                object
ORIGIN_AIRPORT_ID        int64
DEST_AIRPORT_ID          int64
CRS_DEP_TIME             int64
DEP_DELAY              float64
CRS_ARR_TIME             int64
ARR_DELAY              float64
CANCELLED                int64
CANCELLATION_CODE       object
DIVERTED                 int64
CRS_ELAPSED_TIME       float64
DISTANCE                 int64
CARRIER_DELAY          float64
WEATHER_DELAY          float64
NAS_DELAY              float64
SECURITY_DELAY         float64
LATE_AIRCRAFT_DELAY    float64
HDAYS                    int64
ARR_HOUR                 int64
DEP_HOUR                 int64
CARRIER_NAME            object
ORIGIN_AIRPORT          object
DESTINATION_AIRPORT     object
CARRIER_CODE             int64
dtype: object

In [45]:
df_delays = trainDF.groupby(['DEST_AIRPORT_ID', 'CARRIER_NAME']).mean()

In [46]:
df_delays = df_delays ['DEP_DELAY']

In [41]:
df_delays

DEST_AIRPORT_ID  CARRIER_NAME
12264            JetBlue Airways            5.078093
                 United Air Lines Inc.     10.495473
12266            American Airlines Inc.     2.000000
                 United Air Lines Inc.     13.640264
12478            American Airlines Inc.    17.664474
                 Delta Air Lines Inc.      29.474383
                 JetBlue Airways           20.415936
13930            American Airlines Inc.     6.600067
                 JetBlue Airways           13.069877
                 SkyWest Airlines Inc.      1.466667
                 Spirit Air Lines          10.345972
                 United Air Lines Inc.     14.653137
14771            Delta Air Lines Inc.      15.793103
                 JetBlue Airways           14.465574
                 United Air Lines Inc.     19.731996
                 Virgin America            21.244917
Name: DEP_DELAY, dtype: float64

In [31]:
df_delays

<bound method Series.reset_index of DEST_AIRPORT_ID  CARRIER_NAME
12264            JetBlue Airways            5.078093
                 United Air Lines Inc.     10.495473
12266            American Airlines Inc.     2.000000
                 United Air Lines Inc.     13.640264
12478            American Airlines Inc.    17.664474
                 Delta Air Lines Inc.      29.474383
                 JetBlue Airways           20.415936
13930            American Airlines Inc.     6.600067
                 JetBlue Airways           13.069877
                 SkyWest Airlines Inc.      1.466667
                 Spirit Air Lines          10.345972
                 United Air Lines Inc.     14.653137
14771            Delta Air Lines Inc.      15.793103
                 JetBlue Airways           14.465574
                 United Air Lines Inc.     19.731996
                 Virgin America            21.244917
Name: DEP_DELAY, dtype: float64>

In [47]:
df_delays.to_csv('out.csv', sep=',')